Thumbs.db
.DS_Store
.gradle
build/classes
build/distributions
build/docker
build/generated
build/native
build/optimizedScripts
build/reports
build/resources
build/scripts
build/scriptsShadow
build/test-results
build/tmp
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
